[submodule "agents/backend"]
	path = agents/backend
	url = https://github.com/es3dlll/beza-backend.git
[submodule "agents/frontend"]
	path = agents/frontend
	url = https://github.com/es3dlll/beza-frontend.git
[submodule "agents/flutter"]
	path = agents/flutter
	url = https://github.com/es3dlll/beza-flutter.git
[submodule "agents/docs"]
	path = agents/docs
	url = https://github.com/es3dlll/beza-docs.git
[submodule "agents/uiux"]
	path = agents/uiux
	url = https://github.com/es3dlll/beza-uiux.git
