openapi: 3.0.3
info:
  title: Beza Financial Platform API
  description: |
    Beza Financial OS for Syria — a modular fintech platform supporting
    wallets, agent banking, remittances, bill payments, merchant QR,
    savings, cards, loyalty, financing, education, humanitarian aid,
    government collections, and open finance.
  version: 1.0.0
  contact:
    name: Beza Platform
    url: https://beza.sy
  x-locale: ar

servers:
  - url: https://api.beza.sy/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from POST /auth/login or POST /auth/register

  schemas:
    Money:
      type: integer
      description: Amount in minor units (e.g., 50000 = 500 SYP)
      example: 50000

    Ulid:
      type: string
      pattern: "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
      example: "01ARZ3NDEKTSV4RRFFQ69G5FAV"

    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
      required: [error, code]

    Pagination:
      type: object
      properties:
        current_page: { type: integer }
        data: { type: array }
        from: { type: integer, nullable: true }
        last_page: { type: integer }
        per_page: { type: integer }
        to: { type: integer, nullable: true }
        total: { type: integer }

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password, password_confirmation]
              properties:
                phone:
                  type: string
                  example: "963933123456"
                password:
                  type: string
                  minLength: 8
                password_confirmation:
                  type: string
      responses:
        "201":
          description: User registered, OTP sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "identity::messages.otp_sent" }
        "422":
          description: Validation error

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with phone and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone: { type: string, example: "963933123456" }
                password: { type: string }
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  refresh_token: { type: string }
        "401":
          description: Invalid credentials

  /auth/otp/request:
    post:
      tags: [Authentication]
      summary: Request OTP code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, purpose]
              properties:
                phone: { type: string }
                purpose: { type: string, enum: [register, login, change_phone, forgot_pin] }
      responses:
        "200":
          description: OTP sent

  /auth/otp/verify:
    post:
      tags: [Authentication]
      summary: Verify OTP code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string }
                code: { type: string }
      responses:
        "200":
          description: OTP verified
        "422":
          description: Invalid or expired OTP

  /auth/pin/create:
    post:
      tags: [Authentication]
      summary: Create transaction PIN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, pin, pin_confirmation]
              properties:
                phone: { type: string }
                pin: { type: string, minLength: 6, maxLength: 6 }
                pin_confirmation: { type: string }
      responses:
        "200":
          description: PIN created

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: Token refreshed

  /identity/profile:
    get:
      tags: [Identity]
      summary: Get user profile
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: User profile data

    put:
      tags: [Identity]
      summary: Update user profile
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string }
      responses:
        "200":
          description: Profile updated

  /identity/check-phone:
    post:
      tags: [Identity]
      summary: Check if phone number exists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string }
      responses:
        "200":
          description: Phone check result

  /wallets:
    post:
      tags: [Wallet]
      summary: Create a new wallet
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currency]
              properties:
                currency: { type: string, default: SYP }
                wallet_type: { type: string, enum: [personal, agent, merchant] }
      responses:
        "201":
          description: Wallet created

  /wallets/{id}:
    get:
      tags: [Wallet]
      summary: Get wallet details
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Wallet details

  /wallets/{id}/deposit:
    post:
      tags: [Wallet]
      summary: Deposit funds to wallet
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
                reference: { type: string }
      responses:
        "200":
          description: Deposit processed

  /wallets/{id}/withdraw:
    post:
      tags: [Wallet]
      summary: Withdraw funds from wallet
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
                reference: { type: string }
      responses:
        "200":
          description: Withdrawal processed

  /wallets/{id}/transfer:
    post:
      tags: [Wallet]
      summary: Transfer funds to another wallet
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, recipient_wallet_id]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
                recipient_wallet_id: { $ref: "#/components/schemas/Ulid" }
                description: { type: string }
      responses:
        "200":
          description: Transfer processed

  /wallets/{id}/transactions:
    get:
      tags: [Wallet]
      summary: List wallet transactions
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: List of transactions

  /agents/register:
    post:
      tags: [Agent]
      summary: Register as an agent
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [business_name, agent_type, governorate]
              properties:
                business_name: { type: string }
                agent_type: { type: string, enum: [super, standard, light] }
                governorate: { type: string }
                city: { type: string }
                coverage_radius: { type: number }
      responses:
        "201":
          description: Agent registration submitted

  /agents/{id}/approve:
    post:
      tags: [Agent]
      summary: Approve an agent (admin)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Agent approved

  /fx/rates:
    get:
      tags: [FX]
      summary: Get exchange rates
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of exchange rates

  /fx/quotes:
    post:
      tags: [FX]
      summary: Get a quote for currency conversion
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [base_currency, quote_currency, amount]
              properties:
                base_currency: { type: string, example: SYP }
                quote_currency: { type: string, example: USD }
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: FX quote

  /fx/conversions:
    post:
      tags: [FX]
      summary: Execute a currency conversion
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote_id, wallet_id]
              properties:
                quote_id: { $ref: "#/components/schemas/Ulid" }
                wallet_id: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Conversion completed

  /remittance/corridors:
    get:
      tags: [Remittance]
      summary: List remittance corridors
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of corridors

  /remittance/orders:
    post:
      tags: [Remittance]
      summary: Create a remittance order
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [corridor_id, beneficiary_id, source_amount, destination_currency]
              properties:
                corridor_id: { $ref: "#/components/schemas/Ulid" }
                beneficiary_id: { $ref: "#/components/schemas/Ulid" }
                source_amount: { $ref: "#/components/schemas/Money" }
                destination_currency: { type: string }
      responses:
        "201":
          description: Remittance order created

  /bills/providers:
    get:
      tags: [Bills]
      summary: List bill payment providers
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of providers

  /bills/inquiry:
    post:
      tags: [Bills]
      summary: Inquire about a bill
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider_code, account_number]
              properties:
                provider_code: { type: string }
                account_number: { type: string }
      responses:
        "200":
          description: Bill inquiry result

  /bills/pay:
    post:
      tags: [Bills]
      summary: Pay a bill
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider_code, account_number, amount]
              properties:
                provider_code: { type: string }
                account_number: { type: string }
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: Bill payment processed

  /merchant/pay:
    post:
      tags: [Merchant]
      summary: Pay a merchant via QR
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchant_id, amount]
              properties:
                merchant_id: { $ref: "#/components/schemas/Ulid" }
                store_id: { $ref: "#/components/schemas/Ulid" }
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: Payment processed

  /merchant/qr/generate:
    get:
      tags: [Merchant]
      summary: Generate merchant QR code
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: QR code data

  /fraud/check:
    post:
      tags: [Fraud]
      summary: Check a transaction for fraud
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, transaction_type, amount]
              properties:
                user_id: { $ref: "#/components/schemas/Ulid" }
                transaction_type: { type: string }
                amount: { $ref: "#/components/schemas/Money" }
                ip_address: { type: string }
                device_id: { type: string }
      responses:
        "200":
          description: Fraud check result

  /payroll/batches:
    post:
      tags: [Payroll]
      summary: Create a payroll batch
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period_start, period_end, total_amount]
              properties:
                period_start: { type: string, format: date }
                period_end: { type: string, format: date }
                total_amount: { $ref: "#/components/schemas/Money" }
      responses:
        "201":
          description: Payroll batch created

  /savings/goals:
    post:
      tags: [Savings]
      summary: Create a savings goal
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, target_amount]
              properties:
                name: { type: string }
                target_amount: { $ref: "#/components/schemas/Money" }
                target_date: { type: string, format: date }
      responses:
        "201":
          description: Savings goal created

  /savings/goals/{id}/contribute:
    post:
      tags: [Savings]
      summary: Contribute to a savings goal
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: Contribution processed

  /cards:
    post:
      tags: [Cards]
      summary: Issue a new card
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_type, card_network]
              properties:
                card_type: { type: string, enum: [debit, prepaid, virtual] }
                card_network: { type: string, enum: [Visa, Mastercard, Local] }
      responses:
        "201":
          description: Card issued

  /cards/{id}/authorize:
    post:
      tags: [Cards]
      summary: Authorize a card transaction
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, merchant_name, merchant_category]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
                merchant_name: { type: string }
                merchant_category: { type: string }
      responses:
        "200":
          description: Transaction authorized

  /loyalty/points:
    get:
      tags: [Loyalty]
      summary: Get my loyalty points
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Points balance and tier

  /loyalty/points/redeem:
    post:
      tags: [Loyalty]
      summary: Redeem loyalty points
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [points, reward_id]
              properties:
                points: { type: integer }
                reward_id: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Points redeemed

  /financing/products:
    get:
      tags: [Financing]
      summary: List loan products
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of loan products

  /financing/apply:
    post:
      tags: [Financing]
      summary: Apply for a loan
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, amount, term_days]
              properties:
                product_id: { $ref: "#/components/schemas/Ulid" }
                amount: { $ref: "#/components/schemas/Money" }
                term_days: { type: integer }
      responses:
        "200":
          description: Loan application submitted

  /financing/{id}/repay:
    post:
      tags: [Financing]
      summary: Repay a loan
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: Repayment processed

  /education/institutions:
    get:
      tags: [Education]
      summary: List educational institutions
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of institutions

  /education/{id}/pay-fee:
    post:
      tags: [Education]
      summary: Pay an education fee
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "200":
          description: Fee paid

  /humanitarian/organizations:
    get:
      tags: [Humanitarian]
      summary: List humanitarian organizations
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of organizations

  /humanitarian/disburse:
    post:
      tags: [Humanitarian]
      summary: Create humanitarian disbursement
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [program_id, beneficiary_id, amount]
              properties:
                program_id: { $ref: "#/components/schemas/Ulid" }
                beneficiary_id: { type: string }
                amount: { $ref: "#/components/schemas/Money" }
      responses:
        "201":
          description: Disbursement created

  /gov-collections/providers:
    get:
      tags: [Government Collections]
      summary: List government service providers
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of providers

  /gov-collections/inquire:
    post:
      tags: [Government Collections]
      summary: Inquire about a government payment
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider_code, reference_number]
              properties:
                provider_code: { type: string }
                reference_number: { type: string }
      responses:
        "200":
          description: Inquiry result

  /open-finance/register-app:
    post:
      tags: [Open Finance]
      summary: Register a third-party app
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, redirect_uris, scopes]
              properties:
                name: { type: string }
                description: { type: string }
                redirect_uris: { type: array, items: { type: string } }
                scopes: { type: array, items: { type: string } }
      responses:
        "201":
          description: App registered

  /notifications:
    get:
      tags: [Notifications]
      summary: List my notifications
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: List of notifications

  /notifications/unread:
    get:
      tags: [Notifications]
      summary: Get unread notification count
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Unread count

  /notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark notification as read
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { $ref: "#/components/schemas/Ulid" }
      responses:
        "200":
          description: Notification marked as read

tags:
  - name: Authentication
    description: User registration, login, OTP, PIN management
  - name: Identity
    description: User profile and KYC
  - name: Wallet
    description: Digital wallet operations
  - name: Agent
    description: Agent banking network
  - name: FX
    description: Foreign exchange and currency conversion
  - name: Remittance
    description: Cross-border remittances
  - name: Bills
    description: Bill payment services
  - name: Merchant
    description: Merchant QR payments
  - name: Fraud
    description: Fraud detection and prevention
  - name: Payroll
    description: Payroll processing for employers
  - name: Savings
    description: Savings goals and accounts
  - name: Cards
    description: Card issuance and management
  - name: Loyalty
    description: Loyalty points and rewards
  - name: Financing
    description: Loan products and financing
  - name: Education
    description: Education fee management
  - name: Humanitarian
    description: Humanitarian aid disbursement
  - name: Government Collections
    description: Government payment collection
  - name: Open Finance
    description: Open banking and third-party access
  - name: Notifications
    description: In-app and push notifications
